/* EXTERNAL FONTS */
@font-face{
	font-family:'montserrat', sans-serif;
	src:url(../fonts/Montserrat-Thin.ttf),
	src:url(../fonts/Montserrat-ExtraLight.ttf),
	src:url(../fonts/Montserrat-Light.ttf),
	src:url(../fonts/Montserrat-Regular.ttf),
}
@font-face{
	font-family:'MrDafoe', serif;
	src:url(../fonts/MrDafoe-Regular.ttf),
}
@font-face{
	font-family:'KaushanScript';
	src:url(../fonts/KaushanScript-Regular.ttf),format('truetype')
}




/* COMMON CSS */
*{padding:0;margin:0;}
html{scroll-behavior:smooth;}
body{
	font-family:'montserrat', sans-serif;
	font-size:16px;
	font-weight:400;
	color:#000;
}
ul{	padding:0;	margin:0;}
ul li{list-style-type:none;}
a{text-decoration:none;}
a:focus,a:hover{text-decoration:none;}
.fix{overflow:hidden;}
img{max-width:100%;}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
p{padding:0;margin:0;}

/* CUSTOM CSS */
header{
	width: 100%;
	height: 100vh;
	background-image:url(../img/main-bg.jpg);
	background-size: cover;
	background-position: center;
}
nav ul li a {
	font-size: 23px;
	font-weight: 100;
	text-transform: uppercase;
	color: #afc67b !important;
	padding: 25px 0 25px 25px !important;
}
.hero-txt {
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	right: 0;
}
.hero-txt img{
	float:right;
}
.main-txt {
	padding: 70px 0;
	text-align: right;
	clear: both;
}
.main-txt h2 {
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 100;
	color: #AFC67B;
}
.main-txt h1 {
	font-size: 68px;
	text-transform: uppercase;
	font-weight: 700;
	color: #AFC67B;
}
.top-btn button {
	background: #AFC67B7D;
	border: 0;
	outline: 0;
	padding: 10px 30px;
	text-transform: uppercase;
	color: #AFC67B;
	font-size: 18px;
	float:right;
}
.what-we-cook{
	background-image: url(../img/section-bg.png),linear-gradient(rgba(33,33,33),rgba(33,33,33));
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.what-we-cook .container{max-width: 100%;}
.flx-item{
	align-items: center;
}
.flx-item img{
	float: right;
}
.section-info h3{
	font-family:'amandita',sans-serif;
	color: #AFC67B;
}
.section-info p {
	font-weight: 100;
	font-size: 1.125rem;
	line-height: 25px;
	padding-top: 30px;
	color: #b5b5b5;
}
.section-3 {
	background: #A6C67B2e;
	margin: 30px auto 0;
	padding: 65px 0 0;
}
.section-3 h3 {
	font-size: 30px;
	font-family:'MrDafoe',sans-serif;
	padding-bottom: 7px;
	color: #AFC67B;
}
.section-3 h4 {
	font-size: 40px;
	font-weight: 100;
	text-transform: uppercase;
	color: #cecece;
}
.food-info {
	display: flex;
	align-items: center;
	margin: 0;
}
.food-info img{
	width: 100%;
}
.single-food h3{
	font-size: 25px;
	font-family:'MrDafoe',sans-serif!important;
	padding-bottom: 15px;
	color: #AFC67B;
}
.single-food p {
	color: #bfbfbf;
}
.single-food span {
	color: #fff;
	font-family: 'MrDafoe', sans-serif;
}
.single-food span strong {
	font-size: 35px;
	color: #ffc76b;
	font-family:'montserrat', sans-serif;
	font-weight: 100;
}



/* thins simple */
.things-simple{
	background-color: #A6C67B2e;
	margin-top:80px;
	padding: 50px 70px;
}
.things-simple h4 {
	color: #AFC67B;
	font-size: 32px;
}
.things-simple p {
	color: #bfbfbf;
	font-size: 18px;
	padding: 25px 145px;
	font-weight: 100;
}

.discover{
	background-image: url(../img/section-bg2.jpg);
	background-size: cover;
	height: auto;	
	padding: 80px 0 500px;
}
.discover-menu {
	background-color: rgba(49, 55, 34, 0.89);
}
.section-title {
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-top: 25px;
	font-size: 30px;
	color: #a45b5b;
	text-align: center;
}
.section-sub-title {
	font-weight: 100;
	text-transform: uppercase;
	color: #bfbfbf;
	padding-bottom: 25px;
}
.menu-info h4 {
	font-family: 'montserrat', sans-serif;
}
.single-menu {
	display: flex;
	align-items: center;
	justify-content: center;
}
.single-menu img {
	height: 50px;
	background: #fff;
	width: 50px;
	padding: 15px;
	box-sizing: content-box;
	border-radius: 50%;
}
.menu-info {
	padding: 0 80px 0 15px;
	color: #b7b7b7;
}
.menu-info h4 {
	font-family: 'montserrat', sans-serif;
	font-size: 20px;
	color:#e7e7e7;
}
.menu-info p {
	font-weight: 100;
	font-size: 15px;
	color: #aeaeae;
	padding: 15px 0;
}
.menu-info p > span {
	color: orange;
}

/* contact */
.contact{
	background-color: rgba(33,33,33,0.5);
	padding: 30px 0;
}
.contact label {
	color: #fff;
	font-size: 18px;
}
.contact select {
	height: 40px;
	width: 270px;
	padding: 0 10px;
	border-radius: 10px;
	border: 1px solid #acacaca6;
	background: transparent;
	-moz-background: transparent;
	-ms-background: transparent;
	color: #a4a4a4;
	outline: 0 !important;
	font-weight: 100;
}
.contact input {
	background: transparent;
	border: 1px solid #acacaca6;
	max-width: 270px;
	box-shadow: none;
}
.contact-btn{
	color: #fff;
	border: 1px solid #acacaca6;
	background-color: transparent;
	padding: 8px 60px;
	border-radius: 10px;
	cursor: pointer;
	margin: 25px auto 0;
	outline: 0;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 2px;

}
.section-4{
	background-image: url(../img/section-bg3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
}
.section-5{
	background: #A6C67B2e;
}
.single-menu5 > div {
	background: #fff;
	padding: 25px 25px 20px;
}
.single-menu5 h1 {
	color: #828282;
	font-size: 14px;
	padding: 0 0 15px;
}
.single-menu5 h3 {
	color: #000;
	font-size: 20px;
	font-weight: 300;
}
.single-menu5 p {
	font-size: 15px;
	font-weight: 100;
	line-height: 20px;
	padding: 5px 0 15px;
}
.single-menu5 a {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 3px;
	border-bottom: 5px solid #658c51;
	padding-bottom: 5px;
	color: #000;
	transition: all 0.5s ease-in;
}
.single-menu5 a:hover {
	color:#037AFC;
	transition: all 0.5s ease-in;
}

/* section-6 */
.social-media{
	background: rgba(33,33,33,0.5);
	padding:30px 0;
}
.social-info {
	color: #afc67b;
	font-weight: 100;
	padding: 0 210px;
}
.social-info img {
	height: 35px;
	padding: 10px 15px 20px;
	box-sizing: content-box;
}
.social-info h6 {
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding: 20px;
	font-size: 15px;
	color: #a45b5b;
	text-align: center;
}
.social-info ul {}
.social-info ul li {
	display: inline-block;
	margin: 0 3px;
}
.social-info ul li a {
	display: block;
	height: 40px;
	width: 40px;
	background: #fff;
	text-align: center;
	line-height: 40px;
	color: #000;
	font-size: 18px;
	border-radius: 50%;
	transition: all 0.5s ease-in-out;
}
.social-info ul li a:hover{
	background: #a45b5b;
	color: #037AFC;
	transition: all 0.5s ease-in-out;
}

footer{
	padding: 50px 0 0;
	background: #A6C67B2e;
	color: #828282;
}
.footer-title {
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 25px;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 2px;
}
.footer-about p {
	font-size: 15px;
	color: #b9b9b9;
	padding-right: 90px;
	line-height: 20px;
}
.newsletter form input {
	box-shadow: none;
	background: #8282821f;
	font-size: 12px;
	color: #a8a8a8;
	border: 1px solid #6c6c6c;
	width: 65%;
	height: 35px;
	padding-left: 15px;
}
.newsletter form button {
	box-shadow: none;
	background: #a45b5b;
	font-size: 13px;
	color: #fff;
	height: 35px;
	width: 75px;
	text-align: center;
	border: 0;
	outline: 0;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 1px 0 0 -4px;
}
.newsletter p {
	font-size: 13px;
	padding-bottom: 25px;
}
.quick-link ul li {
	width: 76px;
	padding: 5px 0;
	border-bottom: 1px solid #555;
}
.quick-link ul li:first-child {
	padding-top: 0;
}
.quick-link ul li a {
	color: #b9b9b9;
	font-weight: 100;
	transition: all 0.5s ease-in-out;
}
.quick-link ul li a:hover{
	color: #0A7FFF;
	transition: all 0.5s ease-in-out;
}
.copyright {
	background: rgba(33,33,33);
	padding: 15px;
	margin-top: 45px;
}
.copyright p {
	font-weight: 100;
}

@media only screen and (max-width: 575px) {
	.food-info {
	  padding: 0 1rem!important;
	}
  }